<div class="flex justify-center">
  <div class="card w-auto bg-base-200 card-sm shadow-sm">
    <div class="card-body">
      <h2 class="card-title text-4xl flex justify-start">Skills</h2>
      <div class="card card-title">
        Frontend
        <div class="flex gap-x-4">
          <div
            class="card w-20 h-20 flex justify-center items-center card-sm shadow-lg rounded-2xl bg-base-100"
          >
            <img
              src="assets/channels4_profile.jpg"
              alt="Angular"
              class="w-12 h-12 rounded-full object-cover"
            />
          </div>
          <div
            class="card w-20 h-20 flex justify-center items-center card-sm shadow-lg rounded-2xl bg-base-100"
          >
            <img
              src="assets/CSS3_logo_and_wordmark.svg.png"
              alt="CSS"
              class="w-12 h-16"
            />
          </div>
          <div
            class="card w-20 h-20 flex justify-center items-center card-sm shadow-lg rounded-2xl bg-base-100"
          >
            <img
              src="assets/html.png"
              alt="HTML"
              class="w-14 h-14 object-fit"
            />
          </div>
          <div
            class="card w-20 h-20 flex justify-center items-center card-sm shadow-lg rounded-2xl bg-base-100"
          >
            <img
              src="assets/JavaScript-logo.png"
              alt="Javascript"
              class="w-12 h-12 object-cover"
            />
          </div>
          <div
            class="card w-20 h-20 flex justify-center items-center card-sm shadow-lg rounded-2xl bg-base-100"
          >
            <img
              src="assets/typescript.png"
              alt="Typescript"
              class="w-12 h-12 object-cover"
            />
          </div>
          <div
            class="card w-20 h-20 flex justify-center items-center card-sm shadow-lg rounded-2xl bg-base-100"
          >
            <img
              src="assets/Bootstrap_logo.svg"
              alt="Bootstrap"
              class="w-14 h-12 object-fit"
            />
          </div>
        </div>
      </div>

      <!--Backend section-->
      <div class="card card-title">
        Backend and Database
        <div class="flex gap-x-4">
          <div
            class="card w-20 h-20 flex justify-center items-center card-sm shadow-lg rounded-2xl bg-base-100"
          >
            <img
              src="assets/Java_Logo.svg"
              alt="Java"
              class="w-12 h-20 object-fit"
            />
          </div>
          <div
            class="card w-20 h-20 flex justify-center items-center card-sm shadow-lg rounded-2xl bg-base-100"
          >
            <img
              src="assets/1280px-Spring_Framework_Logo_2018.svg"
              alt="SpringBoot"
              class="w-20 h-auto object-fit"
            />
          </div>

          <div
            class="card w-20 h-20 flex justify-center items-center card-sm shadow-lg rounded-2xl bg-base-100"
          >
            <img
              src="assets/mysql-logo-vector-1.svg"
              alt="MySQL"
              class="w-20 h-auto object-fit"
            />
          </div>
          <div
            class="card w-20 h-20 flex justify-center items-center card-sm shadow-lg rounded-2xl bg-base-100"
          >
            <img
              src="assets/Postgresql_elephant.svg"
              alt="PostgreSQL"
              class="w-32 h-auto object-fit"
            />
          </div>
          <div
            class="card w-20 h-20 flex justify-center items-center card-sm shadow-lg rounded-2xl bg-base-100"
          >
            <img
              src="assets/MongoDB.png"
              alt="mongodb"
              class="w-32 h-auto rounded-full object-fit"
            />
          </div>
        </div>
      </div>

      <!--Tools section-->
      <div class="card card-title">
        Design Tools
        <div class="flex gap-x-4">
          <div
            class="card w-20 h-20 flex justify-center items-center card-sm shadow-lg rounded-2xl bg-base-100"
          >
            <img
              src="assets/Figma.png"
              alt="Figma"
              class="w-32 h-auto object-fit"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
