<app-navbar></app-navbar>
<div class="flex min-h-screen gap-8 p-8 items-center justify-center">
  <div class="flex-col justify-center">
    <h1 class="text-6xl font-bold mb-4">
      Hello, I'm <span>Leonardo Colonna</span>
    </h1>
    <p class="text-lg text-gray-600 mb-6">
      I build modern and responsive web experiences for the web. <br />
      <strong class="text-white">Full-stack developer</strong> with a passion
      for creating beautiful and functional applications.
    </p>
    <button
      class="btn bg-green-600 btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl"
    >
      Contact me
    </button>
  </div>
  <div class="flex justify-start">
    <img
      src="assets/undraw_programming_65t2.svg"
      alt="avatar"
      class="w-128 h-128"
    />
  </div>
</div>
<app-about></app-about>
<div class=""></div>
